body {
    font-family: 'Montserrat';
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ten-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sixteen-block {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.enter{
    font-size: large;
    border-radius: 50px;
    padding: 10px 10px;
}
.text{
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px 10px;
}
button {
    margin-top: 50px;
    padding: 15px;
    border-radius: 10px;
    background-color: transparent;
}